/*-- scss:defaults --*/

// importing fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Lato&display=swap');

// fonts
$font-family-sans-serif: 'Lato', Tahoma, sans-serif !default;

// headings
$presentation-heading-font: 'Montserrat',  Tahoma, sans-serif  !default;
$presentation-heading-color: #4c83b6 !default;


$body-bg: #e8f0ff;
$body-color: #4d8bff;
$link-color: #42affa;

/*-- scss:rules --*/


.slide-logo {
  display: block !important;
  position: fixed !important;
  top: 0 !important;
  left: 10px !important;
  max-height: 15% !important;
  height: 100% !important;
  width: auto !important;
  color: $body-color !important;
}

.slide-number, .reveal.has-logo .slide-number {
  bottom: 10px !important;
  right: 10px !important;
  top: unset !important;
  color: $body-color !important;
}
